<h1>edit an entry &#128394;</h1>
<br>
<br>
<div>
<form action="/entries/<%= @entry.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <p>
    <label>Title:</label>
    <input type="text" name="entry[title]" value="<%=@entry.title %>" required/>
    </p>
    <p>
    <label>Date:</label>
    <input type="date" name="entry[date]" value="<%=@entry.date %>" required/>
    </p>
    <p>
    <label>Description:</label>
    </p>
    <p>
    <input type="text" name="entry[description]" value="<%=@entry.description %>" style="text-align: justify; width: 500px; height: 500px;">
    </p>
    <input type="submit" value="Save Edits">
    <input type="reset">
  </form>
  </div>