<div>
<h3>Create A New Entry</h3>
  <form action="/entry" method="post">
    <p>
    <label>Title</label>
    <input type="text" name="title" required/>
    </p>
    <p>
    <label>Date</label>
    <input type="date" name="date">
    </p>
    <p>
    <label>Description</label>
    <textarea name="description" rows="100" cols="100"></textarea>
    </p>
    <input type="submit" value="Create New Entry">
  </form>
</div>