<div>
<h3>Create A New Entry</h3>
<br>
<br>
  <form action="/entries" method="post">
    <p>
    <label>Title:</label>
    <input type="text" name="title" required/>
    </p>
    <p>
    <label>Date:</label>
    <input type="date" name="date">
    </p>
    <p>
    <label>Description:</label>
    </p>
    <p>
    <textarea name="description" rows="25" cols="100"></textarea>
    </p>
    <input type="submit" value="  Create New Entry  ">
  </form>
</div>