<h1> Entry: <%= @entry.id %> </h1>
<br>
<br>
  <p>
  <h2> Entry Title: <%= @entry.title %> </h2>
  <h2> Entry Date: <%= @entry.date %> </h2>
  <h2> Entry Description: <%= @entry.description %> </h2>
  </p>
  <br>
  <br>
  <br>

<ul>
  <a class="button button1" href="/entries">Entries Home</a>
 </ul>


  <ul>
  <a class="button button1" href="/logout">Logout</a>
 </ul>