<h1> <%= @entry.title %></h1>
<br>
<br>
  <p>
  <h3> <%= @entry.date %> </h3>
  <br>
  <h2> <%= @entry.description %> </h2>
  </p>
  <br>
  <br>
   <form action="/entries/<%=@entry.id%>" method="post">
        <input type="hidden" name="_method" value="delete"> 
        <input type="submit" value= "delete entry">
  </form>
