<h1>journals &#128466;</h1>
<br>
<div class="sidebar">
<br>
<br>
  <h3>create a new journal &#128466;</h3>
  <br>
  <form action="/journals" method="post">
    <p>
    <label>Title </label>
    <input type="text" name="title" required/>
    </p>
    <input type="submit" value="Create New Journal">
    <input type="reset" value="Reset">
    <br>
  </form>
  <br>
  <br>
  <br>
</div>
<% @journal.each do |j| %>
  <h2>
  <a class="button2 button2" href="/journals/<%= j.id %>"><%= j.title %></a>
  <a class= "button4 button4" href="/journals/<%= j.id %>/edit">edit</a>
  </h2>
<% end %>



