<h1>Journals</h1>

<% @journal.to_a.each do |j| %>
    <ul>
      <li><a href="/journals/<%=j.id %>"> <%= j.title %> </a> </li>
      <a href="/journals/<%=j.id%>/edit">EDIT</a>
      <form action="/journals/<%=j.id%>" method="post">
        <input type="hidden" name="_method" value="delete"> 
        <input type="submit" value= "delete">
      </form>
    </ul>

<% end %>




<div class="sidebar">
<br>
<br>
  <h3>Create A New Journal</h3>
  <form action="/journals" method="post">
    <label>Title</label>
    <input type="text" name="title" required/>
    <input type="submit" value="Create New Journal">
    <br>
  </form>
  <br>
  <br>
  <br>
</div>


 <ul>
  <a class="button button1" href="/logout">Logout</a>
 </ul>