<h1>Journals</h1>

<div class="sidebar">
  <h3>Create A New Journal</h3>
  <form action="/journals" method="post">
    <label>Title</label>
    <input type="text" name="Journal[title]" required/>
    
  </form>
</div>


 <ul>
  <a class="button button1" href="/logout">Logout</a>
 </ul>