<h1>Journals</h1>

<div class="sidebar">
<br>
<br>
  <h3>Create A New Journal</h3>
  <form action="/journals" method="post">
    <label>Title</label>
    <input type="text" name="title" required/>
    <input type="submit" value="Create New Journal">
    <br>
  </form>
  <br>
  <br>
  <br>
</div>

<% @journal.each do |j| %>
    <ul>
      <h2><a class="button button1" href="/journals/<% j.id %>"><%= j.title %></a></h2>
    <ul>

<% end %>


 <ul>
  <a class="button button1" href="/logout">Logout</a>
 </ul>