<h1> Journal Info </h1>

<h2> Journal Title: <%= @journal.title %> </h2>


 <ul>
  <a class="button button1" href="/journals">Journals Home</a>
 </ul>


 <ul>
  <a class="button button1" href="/logout">Logout</a>
 </ul>