<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Bullet Journal</h1>

    <div class="content">
      <p>Create Bullet Journals!!</p>
    </div>

    <div class="sidebar">
      <h3>Login</h3>
      <ul>
        <form action='/login' method="post">
          <p>
          <label> Username </label>
          <input type=text name="username" />
          </p>
          <label> Password </label>
          <input type=password name="password" />
          <input type=submit value="Submit" />
          <input type="reset">
        </form>
      </ul>
      <br>
      <br>
      <br>
      <h3>Sign Up</h3>
      <h5>Create a Username and Password</h5>
      <br>
      <ul>
        <form action='/sign_up' method="post">
        <p>
          <label> Username </label>
          <input type=text name="username" />
          </p>
          <label> Password </label>
          <input type=password name="password" />
          <input type=submit value="Submit" />
          <input type="reset">
          </form>
      </ul>
     <br>
     <br>
     <br>
    </div>

  </div>
</div>
