<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>simple journal.</h1>
    <br>
    <br>
    <div class="content">
    </div>
    <div class="sidebar">
      <h3>login</h3>
      <br>
      <ul>
        <form action='/login' method="post">
          <p>
          <label> Username </label>
          <input type=text name="username" />
          </p>
          <p>
          <label> Password </label>
          <input type=password name="password" />
          </p>  
          <input type=submit value="Submit" />
          <input type="reset">
        </form>
      </ul>
      <br>
      <br>
      <br>
      <h3>sign up</h3>
      <p>
      <h5 style ="color:gray"><i>create a username and password</i></h5>
      </p>
      <ul>
        <form action='/sign_up' method="post">
          <p>
          <label> Username </label>
          <input type=text name="username" />
          </p>
          <p>
          <label> Password </label>
          <input type=password name="password" />
          </p>
          <input type=submit value="Submit" />
          <input type="reset">
          </form>
      </ul>
     <br>
     <br>
     <br>
    </div>
  <img src="https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Keyboard Image" width="450" style="border-radius:12px"/>
  <div>
  <br>
  <h2><b>create journals anywhere.</b></h2>
  <br>
  <p>quickly and easily create journals to organize your entries.</p> 
  <p>never lose track of a physical journal again.</p>
  <p><b>save your thoughts. save your paper. save the planet.</b></p>
  </div>
</div>
